@import 'vars';
@import 'card';
@custom-selector :--heading h1, h2, h3, h4, h5, h6;
@custom-media --viewport-small (width <= 500px);


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    background: $light-color;
}

input::placeholder {
    color: red;
}

:--heading {
    @media(--viewport-small) {
        font-size: 2.5rem;
    }
}
